.header {
  display: flex;
  position: absolute;
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  top: 40%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.3;
}

.header-left > a, .header-left > a:visited {
  text-decoration: none;
  color: #857e7e;
}

.header-left > a:hover {
  color: #D7282D;
}


.lead {
  font-size: 200%;
  font-weight: bold;
}

p {font-family: 'avenir next';}
