p {font-family: 'avenir next';}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-xs-bottom {
}

.right-xs-top {}

.no-decoration {
  text-decoration: none;
  color: #857e7e;
}

.bold-big {
  font-size: 200%;
  font-weight: bold;
}

.eye-catcher-big {
  font-size: 7em;
}

.text-center {text-align: center;}

.red-hover:hover{ color: #D7282D; }

.padded {
  padding-top: 5%;
  padding-bottom: 5%;
}
