#header {
  display: flex;
  position: absolute;
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  top: 40%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.3;
}

.no-link-decoration > a {
  text-decoration: none;
  color: #857e7e;
}

.bold-big {
  font-size: 200%;
  font-weight: bold;
}

.red-hover:hover{ color: #D7282D; }
p {font-family: 'avenir next';}
